# 虚拟环境
test_env/
venv/
*.venv
env/

# Python 缓存
__pycache__/
*.py[cod]
*$py.class

# 日志文件
logs/
*.log

# 输出和临时文件
output/
*.csv
*.zip
*.json

# 操作系统生成的文件
.DS_Store
Thumbs.db

# IDE 配置文件
.idea/
.vscode/